* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.checkout {
  margin-top: 3%;
}
.checkout h1 {
  text-align: center;
  font-family: "El Messiri", sans-serif;
}
.checkout-container {
  display: flex;
  padding: 2%;
  margin: 4% 0;
}
/* FIRST CONTAINER  */
.checkout-left {
  width: 48%;
  margin-right: 2%;
}
.checkout-left h2,
.checkout-right h2 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  font-size: 28px;
  color: #202020;
}
.billing {
  margin: 2% 0;
  border: 1px solid rgb(187, 185, 185);
  padding: 2%;
}
.form-div {
  display: flex;
  /* border: 1px solid red; */
  margin: 2% 0;
  padding: 2%;
}
.form-item {
  width: 48%;
  margin-right: 2%;
}
.form-item input {
  /* flex: 1; */
  width: 100%;
  border: 1px solid #808080;
  padding: 2.3% 0;
  margin: 2% 0;
}
.address-input {
  width: 98%;
}
.address-input input {
  width: 100%;
}
.form-item input:focus {
  outline: none;
}
/* SECOND CONTAINER  */
.checkout-right {
  width: 48%;
}

/* COUPON CODE DETAILS  */
.coupon {
  margin: 2% 0;
  border: 1px solid rgb(187, 185, 185);
  padding: 6%;
}
.coupon p {
  margin: 0 0 4% 0;
}
.coupon input {
  padding: 3% 3%;
}
.coupon button {
  background-color: #3d3c3c;
  color: white;
  padding: 3.3% 5%;
  text-align: center;
  border: 1px solid #3d3c3c;
  font-weight: 700;
}
/* ORDER DETAILS  */
.order-details {
  margin-top: 2%;
  border: 1px solid rgb(187, 185, 185);
}
.single-detail {
  padding: 5.5%;
  display: flex;
}
.single-detail-name {
  width: 48%;
  margin-right: 2%;
  /* border: 1px solid red; */
}
.single-detail-amount {
  width: 48%;
  text-align: end;
}

/* PLACE ORDER PAGE  */
#placeOrder {
  background-color: #3d3c3c;
  width: 90%;
  margin: 2% auto;
  color: white;
  padding: 2% 5%;
  text-align: center;
  border: 1px solid #3d3c3c;
  font-weight: 700;
}

@media (max-width: 850px) {
  .checkout-container {
    flex-direction: column;
  }
  .checkout-left {
    width: 80%;
    margin: 3% auto;
  }
  .checkout-right {
    width: 80%;
    margin: 4% auto;
  }
}
